<div class="row">
  <div class="col-md-3">
    <div class="center">
      <!-- avatar -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        User
      </div>
      <div class="panel-body">
        <strong>Email Address<br/></strong>
        <%= @user.email %>
        <strong>Location</strong>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h2><%= @user.email %></h2>
      </div>
      <div class="panel-body">
        <%= @user.description %>
      </div>
  </div>
</div>

<div class="col-md-12">
  <br>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <h2>Comments You've Posted</h2>
      </div>
        <br>
        <% @comments.each do |comment| %>
              <div class="panel-body">
          <%= comment.content %><br>
          <strong>By: <%= comment.username %></strong>
          <br>
        </div>
        <% end %>
    </div>
  </div>
</div>
