<div class="row">
  <div class="col-md-3">
    <div class="center">
      <!-- game image -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Information
      </div>
      <div class="panel-body">
        <strong> Title: </strong>
          <%= @game.title %> <br>
        <strong> Platforms: </strong>
          <%= @game.platforms %> <br>
        <strong> Release Year: </strong>
          <%= @game.release_year %> <br>
        <strong> Genre: </strong>
          <%= @game.genre %> <br>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class ="panel panel-default">
      <div class="panel-heading">
        <h2><%= @game.title %></h2>
      </div>
      <div class="panel-body">
        <div class="container">
          <div class="description row-space-3">
            <%= @game.description %>
          </div>
        </div>
      </div>
    </div>



  </div>




</div>
