<div class="row">
  <div class="col-md-3">
    <div class="center">
      <!-- game image -->
        <%= form_tag root_url + "gamelists/" +@game.id.to_s do %>
        <div><%=submit_tag "Add to Gamelist", class: "btn btn-primary btn-block" %></div>
        <% end %>
    </div>
    <!-- side panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Information
      </div>
      <div class="panel-body">
        <strong> Title: </strong>
          <%= @game.title, id: "title" %> <br>
        <strong> Platforms: </strong>
          <%= @game.platforms, id: "platform" %> <br>
        <strong> Release Year: </strong>
          <%= @game.release_year, id: "release_year"%> <br>
        <strong> Genre: </strong>
          <%= @game.genre, id: "genre" %> <br>
      </div>
    </div>
  </div>
<!-- middle panel -->
  <div class="col-md-9" data-id="<%= "#{params[:id]}"%>">
    <a href ="#" class="js-prev-games btn btn-secondary" style ="float: left; font-size: 3em; color: Black">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> </a>
    <a href ="#" class="js-next-games btn btn-secondary" style ="float: right; font-size: 3em; color: Black">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> </a>
      <%= render partial: "game_panel" %>
  </div>
</div>
